


@media only screen and (min-width: 750px)
{
  form{
    width: 60%;
  }

  p {
    text-align: center;
  }
}



/*
@media only screen and (min-width: 600px) {
  .top-nav a:not(:first-child) {display: none;}
  .top-nav a.icon {
    float: right;
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .top-nav.responsive {position: relative;}
  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

*/

@media only screen and (min-width: 600px) {





}




