* {
  margin: 0;
}

/*-----MAIN-----*/
html {
  box-sizing: border-box;
}
html, body{
	height: 100%;
}
/*skip content*/
.skip{
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
	color: #E3AD02;
}

a {
	text-decoration: none;
	color:white;
}

a.intext {
	color: white;
	display: inline;
	z-index: 2;
}

a.skip:active, a.skip:focus, a.skip:hover {
    position:fixed;
    top: auto;
    left: auto; 
	width: auto; 
	height: auto; 
	overflow: visible;
	z-index: 999;
}
html, body, header, footer{
    background-color: white;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}
header, footer, .logo {
	background-color: black;
	color: white; 
}
body{
/*	display: block;
	margin-left: auto;
    margin-right: auto;*/
	/*position: ;*/
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Kanit', sans-serif;
}
p{
	font-family: 'Kanit', sans-serif;
}
h1{ 
	font-size: 1.5em;
	padding-bottom: 1em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.17em;
}
h4{
	font-size: 1.12em;
}
h5{
	font-size: .83em;
}
h6{
	font-size: .75em;
}


.main-content{
	flex: 1 0 auto;
	margin-top: 110px;
}


/*-----HEADER & NAVIGATION-----*/
header{
	font-family: 'Kanit', sans-serif;
	font-size: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
}

nav {
	display: flex;
	width: 100%;
}

/*mobile-first*/
.top-nav ul{
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: 1 0 0;
	list-style-type: none;
	background-color: black;
	padding-top: 1.6em;
	padding-right: 1em;
}

.top-nav ul li a{
	font-size: 1em;
	color: white;
	text-decoration: none;
	padding: 2.5em 1em 0em 1em;
}

.menu-icon a{
	color: white;
}

.top-nav ul li a.current-page{
	color: gray;
}

.top-nav ul li a:hover, .menu-icon a:hover, .top-nav ul li a:focus, .menu-icon a:focus, .top-nav ul li a:active, .menu-icon a:active{
    color: gray;
    font-weight: bold;
}


/*-----LOGO-----*/
.logo {
	background-color: black; /*CHANGE*/
	margin: 0;
	padding: .5em;
	display: inline-flex;
	flex-direction: row;
	align-self:  flex-start;
	flex: 2 0 0;
	font-family: 'Kanit', sans-serif;
	font-size: 2em;
	color: white;
	text-decoration: none;
}

.logo img{
	height: 4em;
}

/*-----FOOTER-----*/
footer {
	position:fixed;
   	bottom:0;
   	width:100%;
   	height:60px;
   	background: black;
   	text-align: center;
}
footer p{
	padding-top: 1.5em;
	padding-bottom: .75em;
	font-family: 'Kanit', sans-serif;
	font-size: .9em;
}

.icon{
	padding: .5em .25em 0;
	height: 25px;
}

/*-----HOMEPAGE-----*/
#map {
	margin:0;
	position:fixed;
	top:67px;
	right:0;
	bottom:0;
	left:0;
}

svg {
	width:100%;
    height: 100%;
}


.subunit {
	fill: white;
}

.subunit-boundary {
  fill: white;
  stroke: black;
  stroke-linejoin: round;
}


.subunit-label {
  fill: black;
  fill-opacity: .5;
  font-size: 1em;
  font-weight: 300;
  text-anchor: middle;
}


text {
  font-family: 'Kanit', sans-serif;
  font-size: 10px;
/*  opacity: 0.1;*/
  pointer-events: none;
}

.feature {
  fill: white;
  cursor: pointer;
}

.feature.active {
  fill: blue;
}

/*-----SUBMIT PAGE ------*/

form {
	border: none;
	background: white;
/*	padding-top: 8%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 8%;*/
	width: 98%;

}


/*fieldset.contactform {
	border: none;
} */

main{
	margin-top: 20vh;
	margin-bottom: 15vh;
	overflow: scroll;
}

.contactform {
	/*height: 65vh;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.submitform {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom:;
}

form label {
	width: 75%;
	/*background: white;
	background: rgba(255,255,255,.3);
	border-color: black;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: .5%;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;*/
	list-style: none;
	padding: 1% 4%;
	margin-top: 1%;
	margin-bottom: .5%;
	border: none;
}

form ol ol li {
	background: none;
	border: none;
	float: left;
}

input {
	margin-top:1%;
}

button {
	margin-top:.5%;
}

select {
	margin: .5% 0 .5% 2%;
}

p {
	color: grey;
	font-size: .75em;
	margin: 0 0 .5% 7%;
	width: 70%;
	padding-bottom: 1em;
}

p.intext {
	color: #b7b7b7;
	display: inline;
	z-index: 1;
	text-indent: 0;
}

p.pcontact {
	margin-left: 4%;
}

label.heading {
	font-weight: bold;
	font-size: 1em;
	padding: 1% 2%;
}

input[type=submit] {
	font-family: 'Kanit', sans-serif;
    padding:10px 20px;
    font-size: 16px;
    color: white;
    background:tan;
    border:.1em;
    border-color: black;
    cursor:pointer;
    letter-spacing: 2px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: flex;
	justify-content: center;
	align-items: center;

}

input.contact {
	margin-left: 0%;
	width: 50%;
}

textarea.contact{
	margin-left: 0%;
	width: 95%;
    height: 6em;
    box-sizing: border-box;
    resize: none;
    border-color: #ccc;
}


#pos-text {
	padding-top: 0;
}


#region {
	padding-left: 2%;
}


/*-----ABOUT PAGE-----*/

section.aboutbody {
	background-color: black;
    width: 60%;
    position: absolute;
    left: 5%;
    bottom: 15%;
    
}

section.aboutbody p {
    font-size: 1.5em;
    z-index: 0;
    margin: 0;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/*-----MEDIA QUERY-----*/

@media all and (min-width: 750px)
{
	form{
	
		width: 50%;
}
}



