/*body {
	background-color: #ecd8c6;
}

main {
	background-color: #ecd8c6;
}

form {
	background-color: #ecd8c6;
}
*/

legend {
	font-size: 1.25em;
	color: black;
	font-weight: bold;
}

label {
	color: black;
}

label.heading {
	color: black;
}

p {
	color: black;
}

h1 {
	color: black;
}

header {
	color: black;
}
nav {
	color: black;
}


nav {
	display: flex;
	width: 100%;
}


.top-nav ul{
	background: none;
}

.top-nav ul li a{
	color: black;
}

.menu-icon a{
	color: black;
}

.top-nav ul li a.current-page{
	color: black;
	text-decoration: underline;
/*	z-index: 100;*/
}

.top-nav ul li a:hover, .menu-icon a:hover, .top-nav ul li a:focus, .menu-icon a:focus, .top-nav ul li a:active, .menu-icon a:active{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}


.logo {
	color: black;
}

a {
	color:black;
}

footer p {
	background: none;
}






