* {
  margin: 0;
}

img {
	position: relative;
	display: inline-flex;
	align-content: center;
	align-items: stretch;
	margin: 2.5%;
	width: 175px;
	padding: 25px;
	border: 3px solid black;
}


.hover:hover {
	border-radius: 40%;
}

.hover:active{
	border-radius: 40%;
}

.active:active{
	opacity: .6;
}

.focus:focus {
	filter: grayscale(1);
}

.focus:active {
	filter: grayscale(1);
}

.bar {
	position: relative;
	z-index: 1;
}

